.padre h2{
    color: blue;
    font-size: 1.3rem;
}

.hijodirect > h2{
    color: darkslateblue;
    font-size: 1.5rem;
}

.padhijo h2 + p{
    color: rgb(104, 184, 104);
    font-size: 1.8rem;
}

.padhijos h2 ~ p{
    color: darkkhaki;
    font-size: 2rem;
}

h3, h4{
    color: darkgoldenrod;
    font-size: 3rem;
}